PORT=5001
# MongoDB Connection String (use Atlas or local)
DB_URI=mongodb://127.0.0.1:27017/contest-alert

# JWT Secrets (use random strings in production)
JWT_SECRET=super_secret_access_key_example
JWT_REFRESH_SECRET=super_secret_refresh_key_example
