PORT=5001
# MongoDB Connection String
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/contest-alert

# JWT Secrets (use random strings in production)
JWT_SECRET=super_secret_access_key_example
JWT_REFRESH_SECRET=super_secret_refresh_key_example
